@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
}
.patient-header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.patient-header h1{
    font-size: 50px;
    font-style: italic;
    color: #091057;
}
.patient-header button{
    background: none;
    color: #091057;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Jost';
}

.patien-ribbon{
    height: 7rem;
    background-color: #091057;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.patien-ribbon button{
    height: 4rem;
    width: 14rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px #091057;
    transition: 0.4s ease-in-out;
}
.patien-ribbon button:hover{
    box-shadow: inset 3px 3px 20px #89A8B2;
    font-size: 22px;
}
